body {
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Slab', serif;
}

br {
  margin-bottom: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.creatures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.creatures .creature {
  border: 1px solid lightgray;
  order: 3;
  margin-bottom: 30px;
  padding: 20px;
  width: 29%;
}

.creatures .creature img {
  max-width: 100%;
}